---
import CanvasStudio from '../components/CanvasStudio.tsx';
import '../styles/global.css';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Canvas Studio | Realtime Editor</title>
  </head>
  <body class="flex h-screen w-screen">
    <CanvasStudio client:only="react" />
  </body>
</html>
<script>
	import '@phosphor-icons/web/regular'
</script>